body {
  font-family: 'Roboto';
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

.hero {
  background-color: #1f2937;
  font-size: 18px;
  padding: 16px 200px 100px 200px;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.navbar .logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero-main {
  display: flex;
  gap: 50px;
}

.hero-content {
  flex: 1;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.hero-content h1 {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero-content p {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.5;
}

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 18px;
  padding: 36px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 50px 200px;
}

.content h2 {
  font-size: 32px;
  font-weight: 900;
  color: #1f2937;
  margin-bottom: 50px;
  text-align: center;
}

.zoid-models {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.zoid-model {
  flex: 0 1 200px;
  text-align: center;
}

.zoid-model img {
  width: 250px;
  height: 200px;
  border: 3px solid #3882f6;
  border-radius: 15px;
  object-fit: cover;
}

.zoid-model h3 {
  font-size: 24px;
  color: #1f2937;
  margin: 10px 0;
}

.zoid-model p {
  font-size: 16px;
  color: #1f2937;
  text-align: center;
  margin: 0;
  max-width: 300px;
}
